asgiref==3.8.1
dj-database-url==2.2.0
Django==4.2.13
django-cors-headers==4.3.1
django-filter==24.2
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
future==1.0.0
importlib_metadata==7.1.0
Markdown==3.6
psycopg2-binary==2.9.9
PyJWT==2.8.0
Serializer==0.2.1
serializers==0.2.4
simplejson==3.19.2
sqlparse==0.5.0
typing_extensions==4.12.1
zipp==3.19.2
